.login {
   width: 100vw;
   height: 100vh;
   background-color: seashell;
   display: flex;
   align-items: center;
   justify-content: center;
}

.loginWrapper {
   width: 70%;
   height: 70%;
   display: flex;
}

.loginLeft, .loginRight {
   display: flex;
   flex: 1;
   flex-direction: column;
   justify-content: center;
}

.loginLogo {
   font-size: 50px;
   font-weight: 800;
   color: teal;
   margin-bottom: 10px;
}

.loginDesc {font-size: 24px;}

.loginBox {
   height: 300px;
   padding: 20px;
   background-color: white;
   border-radius: 1em;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.loginInput {
   height: 50px;
   border-radius: 1em;
   border: 1px solid grey;
   font-size: 18px;
   padding-left: 20px;
}

.loginInput:focus {
   outline: none;
}

.loginBtn {
   height: 50px;
   border-radius: 1em;
   border: none;
   background-color: green;
   color: white;
   font-size: 20px;
   font-weight: 500;
   cursor: pointer;
}

.loginBtn:focus {
   outline: none;
}

.loginBtn:disabled {
   cursor: not-allowed;
}

.loginForgot {
   text-align: center;
   color: teal;
   cursor: pointer;
}

.loginRegisterBtn {
   width: 60%;
   height: 50px;
   align-self: center;
   border-radius: 1em;
   border: none;
   background-color: goldenrod;
   color: white;
   font-size: 20px;
   font-weight: 500;
   cursor: pointer;
}