.rightbar {
   flex: 3.5;
}

.rightbarWrapper {
   padding: 1em 1.5em;
}

.birthdayContainer {
   display: flex;
   align-items: center;
}

.birthdayImg {
   width: 40px;
   height: 40px;
   margin-right: 10px;
   background-color: green;
}

.birthdayText {
   font-weight: 300;
   font-size: 15px;
}

.rightbarTitle {
   margin: 20px 0;
}

.rightbarFriendList {
   padding: 0;
   margin: 0;
   list-style: none;
}