.rightbar {
   flex: 3.5;
}

.rightbarWrapper {
   padding: 1em 1.5em;
}

.birthdayContainer {
   display: flex;
   align-items: center;
}

.birthdayImg {
   width: 40px;
   height: 40px;
   margin-right: 10px;
   background-color: green;
}

.birthdayText {
   font-weight: 300;
   font-size: 15px;
}

.rightbarTitle {
   margin: 20px 0;
}

.rightbarFriendList {
   padding: 0;
   margin: 0;
   list-style: none;
}

.rightbarTitle {
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 10px;
}

.rightbarInfo {margin-bottom: 2em;}
.rightbarInfoItem {margin-bottom: 1em;}

.rightbarInfoKey {
   font-weight: 500;
   margin-right: 1em;
   color: #555;
}

.rightbarInfoValue {font-weight: 300;}

.rightbarFollowings {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.rightbarFollowing{
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

.rightbarFollowingImg {
   width: 100px;
   height: 100px;
   object-fit: cover;
   border-radius: 1em;
   background-color: green;
}